body
{
	font-family: "Abel";
	color: #444444;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	max-width: 52.5em;
	min-width: 48.0em;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
}

article img {
	display: block;
	width: 100%;
	padding: 6px;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	background-color: white;
}

a {
	text-decoration: none;
	color: #444444;
}

article p {
	font-size: 1.0em;
}

ul {
	list-style-type: none;
}

ul.portfolio li {
	display: inline-block;
	margin: 3%;
	margin-bottom: 8%;	
}

ul.portfolio li a {
	text-align: center;
	display: inherit;
	text-transform: uppercase;
	font-size: 2em;
}

ul.portfolio li img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	opacity: 1.0;
	transition: opacity 0.5s ease-in-out;
}


ul.portfolio li img:hover {
	transition: opacity 0.5s ease-in-out;
	opacity: 0.5;
}

img.hero {
	width: 100%;
	margin-bottom: 3%;
}

img.left {
	width: 48%;
	float: left;
}

img.right {
	width: 48%;
	float: right;
}

.menu h1 {
	text-align: center;
	font-size: 1.2em;
	margin: 0;
}

.menu h2 {
	text-align:center;
	font-size: 0.9em;
	margin: 0;
}


.menu ul {
	margin-left: 10%;
}

.menu li {
	display: inline-block;
	min-width: 10%;

}

.menu {
	border-bottom: solid #444444 1px;
	margin-bottom: 2%;
}

.gallery {
	overflow: auto; 
	margin-bottom: 20px; 
}

